@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800 font-sans antialiased;
    font-family: 'Poppins', sans-serif;
  }
}

* {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #E9F0FF;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8AC6D1, #A3BFFA);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6BA9B5, #8AA8E8);
}